<section class="bg-green" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Construimos una comunidad</h2>
                <hr class="light">
                <p class="text-faded">La comunidad de profesionales beVE tienen una idea clara, CONSTRUIR un mundo laboral mejor, 
                    empezando por particpar con instituciones académicas para trasmitir su experiencia y conocimiento a nuevas generaciones.</p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
