<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Síguenos en</h2>
                <hr class="primary">
                <p>Conoce todo lo que hacemos e involucrate en este apasionante proyecto, TE ESPERAMOS !</p>
            </div>
        <div class="col-lg-6 text-center">
            <a href="https://www.linkedin.com/company/bevelife">
                <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!--<p>{{ site.twitter_username }}</p>-->
            </a>
        </div>
        <div class="col-lg-6 text-center">
            <a href="mailto:contacto@beve.life">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!--<p>{{ site.email }}</p>-->
            </a>
        </div>
    </div>
</section>
