<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>PORQUE QUEREMOS UNIR A LOS MEJORES PROFESIONALES DEL MUNDO ACADÉMICO Y LABORAL…​</h1>
            <hr>
            <!--<p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>-->
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Conoce el proyecto</a>
        </div>
    </div>
</header>
